# Notebooks
.ipynb_checkpoints

# Virtual environment
.venv
client_secrets.json

# Large data files
data/reddit/comments
data/reddit/submissions
data/from_API
data/logs/
data/pushshift_working/
*RS*
data/all_reddit_csv/*.csv


#Models
code/bertopic_model

# SQL Server files
*.mdf
*.ldf
