# Notebooks
.ipynb_checkpoints

# Virtual environment
.venv
client_secrets.json

# Large data files
data/reddit/comments
data/reddit/submissions
data/1000_per_subreddit
data/2000_per_subreddit
data/*.xlsx
data/pushshift_working/

#Models
code/bertopic_model

# SQL Server files
*.mdf
*.ldf
